# **Teknik Principal Component Analysis (PCA)**

**Siapkan dataframe yang digunakan**

In [29]:
import pandas as pd
import numpy as np
import random

data = {'feature_1' : [random.uniform(0, 1) for i in range(100)],
        'feature_2' : [random.uniform(0, 1) for i in range(100)],
        'feature_3' : [random.uniform(0, 1) for i in range(100)],
        'feature_4' : [random.uniform(0, 1) for i in range(100)],
        'feature_5' : [random.uniform(0, 1) for i in range(100)],
        'feature_6' : [random.uniform(0, 1) for i in range(100)],
        'feature_7' : [random.uniform(0, 1) for i in range(100)],
        'feature_8' : [random.uniform(0, 1) for i in range(100)],
        'feature_9' : [random.uniform(0, 1) for i in range(100)],
        'feature_10' : [random.uniform(0, 1) for i in range(100)],
        'label' : [random.choice(['A', 'B', 'C']) for i in range(100)]}

df = pd.DataFrame(data)
df.head()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,label
0,0.779916,0.722474,0.750737,0.605379,0.701686,0.686868,0.765537,0.087124,0.042858,0.151635,B
1,0.046173,0.487832,0.561895,0.430239,0.959842,0.402561,0.313089,0.629303,0.512495,0.854590,C
2,0.557824,0.921494,0.379224,0.914708,0.854340,0.523363,0.374051,0.885259,0.414328,0.574553,A
3,0.746936,0.487928,0.821066,0.279690,0.764890,0.154303,0.338728,0.117043,0.120060,0.015347,B
4,0.177624,0.066456,0.077092,0.459889,0.573169,0.060491,0.036268,0.899840,0.630289,0.602991,A

**Pisahkan kolom fitur dan label**

In [30]:
x = df.iloc[:, :-1]
x.head()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10
0,0.779916,0.722474,0.750737,0.605379,0.701686,0.686868,0.765537,0.087124,0.042858,0.151635
1,0.046173,0.487832,0.561895,0.430239,0.959842,0.402561,0.313089,0.629303,0.512495,0.854590
2,0.557824,0.921494,0.379224,0.914708,0.854340,0.523363,0.374051,0.885259,0.414328,0.574553
3,0.746936,0.487928,0.821066,0.279690,0.764890,0.154303,0.338728,0.117043,0.120060,0.015347
4,0.177624,0.066456,0.077092,0.459889,0.573169,0.060491,0.036268,0.899840,0.630289,0.602991

In [31]:
y = df.iloc[:, -1]
y.head()

0    B
1    C
2    A
3    B
4    A
Name: label, dtype: object

**Import library PCA**

In [32]:
from sklearn.decomposition import PCA

**Buat class PCA() dengan memberikan parameter *n_components* yang mendefinisikan jumlah    komponen atau kolom baru yang diinginkan**

In [33]:
pca = PCA(n_components=2)

**Lakukan fit_transform pada data fitur**

In [34]:
fit_pca = pca.fit_transform(x)

**Buat dataframe baru hasil fit_transform**

In [35]:
pca_df = pd.DataFrame(data = fit_pca, columns = ['PCA_1', 'PCA_2'])
pca_df.tail()

       PCA_1     PCA_2
95  0.014081  0.809386
96 -0.232467 -0.082748
97  0.496243  0.457123
98 -0.627905 -0.314680
99 -0.515551  0.100581

# **TEKNIK MISSING VALUE RATIO**

**Import library yang digunakan dan Load dataset**

In [36]:
! gdown --id 1K6uHCWjA0pkY67yinpaavYKG6IDvt_GQ

/usr/local/lib/python3.8/dist-packages/gdown/cli.py:127: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1K6uHCWjA0pkY67yinpaavYKG6IDvt_GQ
To: /content/train.csv
100% 870k/870k [00:00<00:00, 153MB/s]

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [38]:
train = pd.read_csv('/content/train.csv')
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

**Periksa persentase missing value di setiap variable**

In [39]:
train.isnull().sum()/len(train)*100

Item_Identifier               0.000000
Item_Weight                  17.165317
Item_Fat_Content              0.000000
Item_Visibility               0.000000
Item_Type                     0.000000
Item_MRP                      0.000000
Outlet_Identifier             0.000000
Outlet_Establishment_Year     0.000000
Outlet_Size                  28.276428
Outlet_Location_Type          0.000000
Outlet_Type                   0.000000
Item_Outlet_Sales             0.000000
dtype: float64

**Remove variabel yang memiliki missing variabel lebih dari 20% dan simpan missing value tadi dalam suatu variable**

In [40]:
a = train.isnull().sum()/len(train)*100
# saving column names in a variable
variables = train.columns
variable = []
for i in range(0,12):
  if a[i]<=20: #setting the threshold as 20%
      variable.append(variables[i])

**Kita perlu menghitung varian dari setiap variabel yang diberikan. Kemudian drop variabel yang memiliki varians rendah dibandingkan dengan variabel lain dalam kumpulan dataset. Alasan melakukan ini adalah bahwa variabel dengan varian rendah tidak akan mempengaruhi variabel target/label**

In [41]:
train['Item_Weight'].fillna(train['Item_Weight'].median(), inplace=True)
train['Outlet_Size'].fillna(train['Outlet_Size'].mode()[0], inplace=True)

**Periksa ulang persentase missing value di setiap variable, pastikan sudah tidak ada missing value yang tersisa**

In [42]:
train.isnull().sum()/len(train)*100

Item_Identifier              0.0
Item_Weight                  0.0
Item_Fat_Content             0.0
Item_Visibility              0.0
Item_Type                    0.0
Item_MRP                     0.0
Outlet_Identifier            0.0
Outlet_Establishment_Year    0.0
Outlet_Size                  0.0
Outlet_Location_Type         0.0
Outlet_Type                  0.0
Item_Outlet_Sales            0.0
dtype: float64

**Lakukan kalkulasi pada variance**

In [43]:
train.var()

<ipython-input-43-f79ea75d4f65>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  train.var()

Item_Weight                  1.786956e+01
Item_Visibility              2.662335e-03
Item_MRP                     3.878184e+03
Outlet_Establishment_Year    7.008637e+01
Item_Outlet_Sales            2.912141e+06
dtype: float64

**Pendekatan yang dilakukan adalah dengan membuang kolom tertentu dari dataset. Fungsi menggunakan threshold 10% missing value**

In [45]:
numeric = train[['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Outlet_Establishment_Year']]
var = numeric.var()
numeric = numeric.columns
variable = []
for i in range(0,len(var)):
  if var[i]>=10: #setting the threshold as 10%
      variable.append(numeric[i])

In [46]:
variable

['Item_Weight', 'Item_MRP', 'Outlet_Establishment_Year']